* {
    margin: 0;
    background-color: #e5e5e5;
    overflow-x: hidden;

}

#contenRegis,
#contenLogin {
    margin: 96px 140px 48px 110px;
}

#valUser,
#valMail,
#verPass {
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.005em;
    text-align: left;
    color: transparent;
}

#text {
    color: #2C448C;
}

::placeholder {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;

}

#Kepala {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.005em;
    text-align: left;

}

#Leher {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.005em;
    text-align: left;
    margin-top: -10px;
    margin-bottom: 50px;

}

#valPass {
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #2C448C;
}

#inputUser,
#inputMail,
#inputPassword,
#validationPassword {
    margin-bottom: 60px;
    margin-top: -10px;
    background-color: #fbfbfb;
    border-radius: 15px;
}

#toggle_pwd1,
#toggle_pwd2,
#gembok,
#orang,
#mail {
    background-color: transparent;
}

.form-control:active {
    border: none;
}

.layer-1 {
    width: 80px;
    height: 80px;
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 11;
}

.form-control,
#btnSubmited {
    height: 55px;
    width: 445px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 15px;
}

#btnSubmited {
    margin-top: 30px;
}

#btnSubmited:hover {
    background-color: #2C448C;
}


.form-control:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

#btnSubmited:focus {
    outline: none;
    box-shadow: none;
}

a {
    text-decoration: none;
}

#sudah {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: center;
    margin-top: 20px;
}