<section class="navigasi">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
                <a class="navbar-brand" href="landingPage">
                    <img src="views/assets/images/logo.svg" alt="" width="140" >
                </a>
        <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
                <ul class="navbar-nav ml-auto flex-nowrap">
                    <li class="nav-item">
                    <a href="/" class="nav-link menu-item nav-active" id="items">Beranda</a>
                    </li>
                    <li class="nav-item">
                    <a href="about" class="nav-link  menu-item">Tentang Kami</a>
                    </li>
                    <li class="nav-item">
                    <a href="berlangganan" class="nav-link menu-item">Berlangganan</a>
                    </li>
                    <li class="nav-item">
                    <a href="login" class="nav-link menu-item">Masuk</a>
                    </li>
                    <li class="nav-item">
                        <a href="register">
                            <button class="btn btn-masuk" type="submit">Daftar</button>
                        </a>
                    </li>
                </ul>
        </div>
        </div>
    </nav>
</section>